.format{
	text-align: -webkit-center;	    
    margin-top: 50%;
}

.jugadorX{
	color: blue;
    font-weight: bold;
    background-color: mediumspringgreen;
}
.jugadorO{
	color: red;
    font-weight: bold;
    background-color: #50c8ff;
}