<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      JUEGO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

  

<ion-item color="primary" >
  <ion-avatar slot="start">
    <img src="assets/icon/logo_epn.png">
  </ion-avatar>
  <ion-label>
    Descripción
  </ion-label>
</ion-item>
  
  <ion-text color="dark">
  <h5>JUEGO del 3 EN RAYA</h5>
</ion-text>

<p>
  Para este juego se necesita dos jugadores, El primer jugador  será <ion-text color="danger">'X'</ion-text> el cual iniciará dando click en una casilla en blanco y pintando la misma con dicho caracter, el segundo jugador tendra el segundo turno y deberá dar click sobre una casilla en blanco para pintar ésta con el caracter <ion-text color="danger">'O'</ion-text>  
</p>
<p><ion-icon name="game-controller-outline"></ion-icon>  gana quien  haya logrado tener las tres casilla  pintadas con el mismo signo.</p>
  
    
</ion-content>
